[req]
distinguished_name=dn
x509_extensions=v3_x509
prompt=no
utf8=yes
[dn]
countryName=US
stateOrProvinceName=Pennsylvania
localityName=Pittsburgh
0.organizationName=Development
organizationalUnitName=Development
commonName=localhost
emailAddress=dev@example.com
[v3_x509]
subjectAltName=DNS:localhost
